In [9]:
import pandas as pd

In [10]:
file = "election_data.csv"
df= pd.read_csv(file)
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [11]:
df.shape

(3521001, 3)

In [12]:
Votes = 3521001

In [13]:
df.Candidate.unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [16]:
df.groupby('Candidate').size()

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
dtype: int64

In [19]:
df['Candidate'].value_counts(normalize=True) = results

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

NameError: name 'results' is not defined