In [23]:
import pandas as pd

In [24]:
file = "budget_data.csv"
df= pd.read_csv(file)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [25]:
df.shape

(86, 2)

In [26]:
months = 86

In [27]:
Total = df["Profit/Losses"].sum()
print(Total)

38382578

In [30]:
df["difference"] = df['Profit/Losses'].diff(1)
df

        Date  Profit/Losses  difference
0   Jan-2010         867884         NaN
1   Feb-2010         984655    116771.0
2   Mar-2010         322013   -662642.0
3   Apr-2010         -69417   -391430.0
4   May-2010         310503    379920.0
..       ...            ...         ...
81  Oct-2016         102685   -665765.0
82  Nov-2016         795914    693229.0
83  Dec-2016          60988   -734926.0
84  Jan-2017         138230     77242.0
85  Feb-2017         671099    532869.0

[86 rows x 3 columns]

In [32]:
maximum = df["difference"].max()
print(maximum)

1926159.0

In [33]:
average = df["difference"].mean()
print(average)

-2315.1176470588234

In [35]:
minimum = df["difference"].min()
print(minimum)

-2196167.0

In [36]:
print(months, 
     Total,
     average,
     maximum,
     minimum)

86 38382578 -2315.1176470588234 1926159.0 -2196167.0